@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Inter:wght@400;500;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	background: #111;
	color: #fff;
	font-family: Inter, sans-serif;
	font-style: normal;
	font-size: inherit;
	padding: 0;
	margin: 0;
	min-height: 100vh;
}
main {
	border-style: solid;
	border-width: .5rem;
	border-image-source: linear-gradient(159deg, #1f0094, #8e62ff 18%, #f2aa72 39%, #ed693c 77%, #c96dd8);
	border-image-slice: 1;
	z-index: 9997;
	position: relative;
	animation: content-animation;
	animation-delay: 2s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	min-height: 100vh;
}
.container {
	max-width: 90vw;
	width: 100%;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	z-index: 9999;
}

a {
	color: #fff;
	transition: all 0.4s cubic-bezier(0, 1.115, 0.415, 0.975);
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: underline;
}

a.producthunt {
	color: #da552f;
}

a.github {
	color: #4078c0;
}

a.linkedin {
	color: #0077b5;
}

a.twitter {
	color: #1da1f2;
}

a.dribbble {
	color: #ea4c89;
}

a.instagram {
	color: #405de6;
}

a.medium {
	color: #00ab6c;
}

a.calendly {
	color: #00a3fa;
}

a.email {
	color: orange;
}

a.email:hover span {
	text-decoration: none;
}

a.external:after,
.email:after {
	display: inline-block;
	font-size: 0.9rem;
	font-weight: 500;
	line-height: 1;
	margin-left: 0.25rem;
	content: " ↗";
	vertical-align: text-top;
	opacity: 0.5;
	position: relative;
	color: #fff;
}

h1 {
	font-family: caveat, cursive;
	font-size: 2rem;
	margin: 0;
	padding: 2rem 0 0 0;
	animation: slide;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-delay: 5.5s;
}

h2 {
	font-size: 4rem;
	font-weight: 500;
	color: #999;
}

p {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 1.5rem 0;
	animation: slide;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-delay: 6s;
}
c {
	padding-right: .5rem;
}

@media (max-width: 48rem) {
	h2 {
		font-size: 2.5rem;
	}
	.container {
		padding-bottom: 5rem;
	}
	.email {
		display: block;
	}
	p {
		margin: 0.5rem 0;
	}
	p a {
		display: block;
		margin: 0.75rem 0;
	}
	p a:first-child {
		margin-top: 1rem;
	}
	p a:last-child {
		margin-bottom: 2rem;
	}
	c,
	d {
		display: none;
	}
	.loading-wrapper {
		position: fixed !important;
		height: 100vh !important;
	}
	.loading {
		font-size: 4rem !important;
		margin-top: -10%;
	}
	.no-animations {
		bottom: 5rem !important;
	}
}

.job-title {
	animation: job-title;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-delay: 2.5s;
	color: #fff;
}
.job-title:nth-child(2) {
	animation-delay: 3s;
}
.job-title:nth-child(3) {
	animation-delay: 3.5s;
}
.job-title:nth-child(4) {
	animation-delay: 4s;
}
.job-title:nth-child(5) {
	animation-delay: 4.5s;
}
.job-title:nth-child(6) {
	animation-delay: 5s;
}
.boston {
	animation: boston;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation-delay: 5s;
}
@keyframes job-title {
	0% {
		transform: translate(0, 2rem);
		opacity: 0;
		text-shadow: 0 0 0 #888;
	}
	50% {
		text-shadow: 0 0 0.5rem #888;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
		text-shadow: none;
	}
}
@keyframes slide {
	0% {
		transform: translate(0, 2rem);
		opacity: 0;
		text-shadow: 0 0 0 #888;
	}
	50% {
		text-shadow: 0 0 0.5rem #888;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
		text-shadow: none;
	}
}
@keyframes fade {
	0% {
		display: none;
	}
	100% {
		display: block;
	}
}
@keyframes boston {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		color: #007a33;
		opacity: 1;
	}
}
.loading-wrapper {
	position: absolute;
	height: 100%;
	width: 100%;
	background: #111;
	z-index: 9998;
}
.loading {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10rem;
	text-align: center;
	display: block;
	animation: loading 1s infinite;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.no-animations {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	color: #999;
}
@keyframes loading {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes content-animation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.animations-disabled main,
.animations-disabled h1,
.animations-disabled h2,
.animations-disabled p,
.animations-disabled .job-title,
.animations-disabled .boston,
.animations-disabled .loading {
	animation: none !important;
}
.animations-disabled .loading {
	display: none !important;
}
